<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmerce</title>
</head>
<body>
    <img src="static/farmerceLogo.png" alt="Farmerce Logo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur consequatur autem, a tempore nobis optio ipsum! Dolorem molestiae vitae earum, repellat dicta voluptates quidem autem.</p>
    <a href="#">
        <div class="home-button">
            <p>Get started</p>
        </div>
    </a>
</body>
</html>