<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer | Farmerce</title>
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon.ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Josefin+Sans:wght@300&display=swap');
    </style>
    <style>
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100vh;
        }
    </style>
</head>
<body style="margin: 0;">
    <div class="wrapper">
        <div class="farmer_info">
            <img src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cmFuZG9tfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" alt="Profile Pic">
            <h3>Farmer Joe</h3>
        </div>
        <div class="questions_answers">
            <span>Business Name <span>test</span></span>
            <span>Business Name <span>test</span></span>
            <span>Items Available <span>test</span></span>
            <span>How expensie are your goods? <span>$$</span></span>
            <span>Is your produce organic? <span>Somewhat</span></span>
            <span>What are your methods of farming? <span>Unsustainable</span></span>
            <span>Do you use chemicals? <span>No</span></span>
            <span>Have you received USDA approval <span>Yes</span></span>
            <span>Contact Info <span>comfarm@gmail.com</span></span>
        </div>
    </div>
</body>
</html>